<script src="~/view-resources/Views/CategoryList/Index.js" asp-append-version="true"></script>



<div class="side-menu animate-dropdown">
    <div class="head"><i class="fa fa-list"></i> Kategoriler</div>        
    <nav class="yamm megamenu-horizontal" role="navigation">
        <ul class="nav" id="categorylist">          
        </ul><!-- /.nav -->
    </nav><!-- /.megamenu-horizontal -->
</div>