<script src="~/view-resources/Views/CategoryList/Blog.js" asp-append-version="true"></script>



<section id="top-brands" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="carousel-holder">
            
            <div class="title-nav">
                <h1>Blog Kategorileri</h1>
                <div class="nav-holder">
                    
                </div>
            </div><!-- /.title-nav -->
            <div class="row" id="blogcategorylist">
                
            </div>
            
        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section>